.quadrinho {
}

.super-mario {
  position: absolute;
  width: 200px;
  top: 260px;
  left: 10px;
}

.goomba {
  width: 100px;
  position: absolute;
  top: 600px;
  left: 10px;
}

.baloon {
  position: absolute;
  top: 80px;
  left: 400px;  
  /**Essa parte peguei do stackoverflox no link https://pt.stackoverflow.com/questions/194141/como-inverter-espelhar-flip-uma-imagem **/
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.speach {
  position: absolute;
  font-size: 25px;
  top: 120px;
  left: 440px; 
  z-index: 1;
}

.bowser {
  position: absolute;
  top: 260px;
  left: 250px;
  width: 200px;
}